/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
    font: inherit;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  div.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body{
    background-color: lightblue;
  }
  
  div.box {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  div.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  div.box img{
    position: absolute;
    width: 7vw; 
    margin-left: 3vw;
    } #flapBird {
      transition: left 0.02s linear; /* deixa o movimento suave */
      position: absolute;
      bottom: 0; /* ponto de referência para o translateY */
      left: 30px;
}

#flapBird,
#background1,
#background2,
#obstacle-top,
#obstacle-bottom {
  will-change: transform;
}

  div.obstacle-top {
    top: 0;
    transform: rotate(180deg);
  }

  div.obstacle-bottom {
    bottom: 0;
  } 
  
  div.obstacle-bottom, div.obstacle-top{
    position: absolute;
    transition: left 0.02s linear; /* deixa o movimento suave */
    background-image: url(../images/pipe.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 16vw;
  }

  div.score{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-size: 2.2rem;
    font-weight: 600;
    z-index: 1;
    margin-bottom: 90vh;
    width:90vw;
    height: 7vw;
  }  
  

  #restartButton{
    display: none;
  }

  div.button-box{
    position: absolute;
    display: flex;
    justify-content: center;
    width: auto;
  }

  .button-88 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 3rem;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }
  
  .button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }

  @media (min-width: 768px) {
    div.obstacle-top {
      height: 25vh;
      width: 8vw;
    } div.obstacle-bottom {
      height: 25vh;
      width: 8vw;
    }

  }